/*
    Cousine - 400, 700
    Fira Code - 300, 400, 500, 600, 700
    JetBrains Mono - 300, 400, 500, 600, 700, 800
    Noto Sans Mono - 300, 400, 500, 600, 700, 800
    Roboto Mono - 400, 500, 600, 700
    Courier Prime - 400, 700
 */
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Fira+Code:wght@300;400;500;600;700&family=JetBrains+Mono:wght@300;400;500;600;700;800&family=Noto+Sans+Mono:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@400;500;600;700&family=Courier+Prime:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: radial-gradient(ellipse at bottom, rgb(21 27 43) 0%, #0c0d13 100%);
        color: #fff;
        min-height: 100vh;
        min-height: 100svh;
        width: 100%;
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-synthesis: style;
    }

    input,
    textarea,
    input:focus-visible,
    textarea:focus-visible {
        outline: none;
    }

    input:disabled::placeholder,
    textarea:disabled::placeholder {
        opacity: 0.4;
    }

    @keyframes float1 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @keyframes float2 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes opacity-explorer-bar {
        0% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(21 27 43);
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(148 163 184); /* bg-slate-400 */
    }
}

@layer utilities {
    .fade-in {
        opacity: 0;
        animation: fadeIn 0.2s ease-in-out forwards;
    }
    .fade-out {
        animation: fadeOut 0.5s ease-in-out;
    }
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@layer components {
    .auth-form {
        @apply bg-secondary/50;
        border-radius: 5px;
        padding: 20px;
        width: clamp(300px, 80%, 500px);
        box-shadow: 0 0 10px rgba(14, 21, 29, 0.5);
    }
}
